.line-decore {
	transform: translate(1000px, 0px);
	@media (max-width: 767px){
		&_active {
			display: block;
			width: 100%;
			height: 1px;
			background: #D4D4D4;
			position: relative;
			top: 76px;
			transform: translate(0px, 0px);
			transition: all 0.3s ease 0s;
		}
	}
}
.header {
	background: #405858;
	&__container {
		display: flex;
		align-items: center;
		max-width:1221px;
		margin: 0 auto;
		padding: 25px 25px 30px 30px;
		justify-content: space-between;
		transition: all 0.3s ease 0s;
		@media (max-width: 767px){
			&_active {
				padding: 25px 25px 284px 30px;
				transition: all 0.3s ease 0s;
			}
			
		}
	}

	&__logo {
		display: block;
		& > img {
			width: 150px;
			@media (max-width: 451px){
				width: 76px;
			}
		}
	}

	&__menu {
		align-items: center;
		display: flex;
	}

	&__phone {
		display: flex;
		font-size: 15px;
		color: #fff;
		align-items: center;
		@media (max-width: 451px){
			font-size: 12px;
		}
	}
}

.menu {
	&__body {
		margin: 0 auto;
		display: flex;
		// overflow: auto;
		@media (max-width:767px){
			font-size: 14px;
			position: fixed;
			right: 0px;
			top:200px;
			transform: translate(1000px, 0px);
			transition: all 0.3s ease 0s;
			&_active {
				transform: translate(0px, 0px);
				transition: all 0.3s ease 0s;
			}
		}
	}

	&__list {
		display: flex;
		justify-content: space-between;
		@media (max-width:767px){
			position: fixed;
			position: relative;
			flex-direction: column;	
			right: 0px;
			bottom: 100px;
		}
		& > li {
			position: relative;
			text-align: right;
			margin:  0 48px 0 0;
			@media (max-width: 767px) {
				margin: 0 14px 24px 0;
			}
			&:last-child {
				margin: 0;
				@media (max-width: 767px) {
					margin: 0 14px 24px 0;
				}
			}
		}
	}

	&__link {
		color: #fff;
		font-size: $fontSize_menu;
		&:hover {
			border-bottom: #fff 1px solid;
		}
		&_hiden {
			@media (max-width: 1010px) {
				display: none;
			}
			@media (max-width: 767px){
				display: block;
			}
		}
	}

	&__icon {
		display: none;
		@media (max-width:767px) {
			z-index: 5;
			display: block;
			position: relative;
			width: 22px;
			height: 16px;
			cursor: pointer;
			
			& span,
			&::before,
			&::after {
				left: 0;
				position: absolute;
				height: 2px;
				width: 100%;
				background-color: #fff;
				transition: all 0.3s ease 0s;
			}

			&::before,
			&::after {
				content: "";
			}

			&::before {
				top: 0;
			}

			&::after {
				bottom: 0;
			}

			& span {
				top: 50%;
				transform: scale(1) translate(0px, -50%);
			}
		}
	}
}
.phone {
	height: 20px;
	margin: 0 20px 0 0;
	@media (max-width: 451px){
		height: 13px;
	}
}
