.header {
	background: #405858;
	&__container {
		display: flex;
		align-items: center;
		max-width:1231px;
		
		margin: 0 auto;
		padding: 30px 30px 30px 30px;
		justify-content: space-between;
	}

	&__logo {
		display: block;
		min-width: 150px;
		height: 44px;
	}

	&__menu {
		align-items: center;
		display: flex;
	}

	&__right-block {
	}

	&__phone {
		display: flex;
		font-size: 15px;
		color: #fff;
		align-items: center;
	}
}
.logo {
}
.menu {

	&__body {
		margin: 0 auto;
		@media (max-width:767px) {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 100px 30px 30px 30px;
			background: #000;
			transform: left 0.3s ease 0s;
		}
	}

	&__list {
		
		& > li {
			
			padding: 10px 0;
			@media (max-width: 767px) {
				margin:  0 0 30px 0px;
				font-size: 154px;
			}	
		}

		& > li:not(:last-child){
			margin:  0 48px 0 0;
		}
		@media (min-width: 767px) {
			display: inline-flex;
			align-items: center;
			
		}
		
		
	}

	&__link {
		color: #fff;
		font-size: $fontSize_menu;
		&:hover {
			border-bottom: #fff 1px solid;
		}
		&_hiden {
			@media (max-width: 1032px) {
				display: none;
			}
		}
	}

	&__icon {
		display: none;
		@media (max-width:767px) {
			z-index: 5;
			display: block;
			position: relative;
			width: 22px;
			height: 16px;
			cursor: pointer;
			
			& span,
			&::before,
			&::after {
				left: 0;
				position: absolute;
				height: 10%;
				width: 100%;
				background-color: #fff;
				transition: all 0.3s ease 0s;
			}

			&::before,
			&::after {
				content: "";
			}

			&::before {
				top: 0;
			}

			&::after {
				bottom: 0;
			}

			& span {
				top: 50%;
				transform: scale(1) translate(0px, -50%);
			}
		}
	}
}
.phone {
	height: 20px;
	margin: 0 20px 0 0;
}
