.page__section_3 {
	background: #BFC8C7;
	width: 100%;
	padding: 120px 0 70px 0;
}

.accordion {
	max-height: auto;
	&__item {
		cursor: pointer;
		display: flex;
		margin: 13px 0px 0px 0px;
		border-top: 1px solid #000;
		padding: 12px 0;
		overflow: hidden;
		position: relative;
		max-height: 71px;
		transition: max-height 0.3s ease-in;

		@media (max-width:768px){
			flex-direction: column;
		}
		@media (max-width:576px) {
			padding-bottom: 40px;
		}
		&.active .content {
			visibility: visible;
			transition: max-height 0s;
		}
		&.active .accordion-arrow{
			position: absolute;
			transform: rotate(180deg);
			
		}
		& > .accordion-arrow {
			display: block;
			position: absolute;
			right: 0px;
			
			// height: 41px;
			bottom: 10px;
			transition: all 0.3s ease-in;
			z-index: 5;
			& > img {
				width: 34px;
				height: 41px;
			}
		}

		& > .title {
			min-width: 300px;
			font-weight: 600;
			font-size: 18px;
			padding-right: 10px;
			@media (max-width:768px){
				margin-bottom: 28px;
			}
		}

		& > .content {
			visibility: hidden; 
			position: relative;
			font-size: $fontSize_par;

			

			& > p {
				padding: 0px 71px 0px 0px;
			
				@media (max-width:576px){
					padding: 0px 0px 0px 0px;
				}

				&:not(:last-child){
					margin: 0px 0px 30px 0px;
				}
			}
		}
	}
}
.service-btn {
	position: absolute;
	right: 102px;

	@media (max-width: 576px) {
		right: 30%;
	}
	@media (max-width: 440px) {
		right: 20%;
	}
}


