.page__section_3 {
	background: #BFC8C7;
	width: 100%;
	padding: 120px 0;
}
.service-title {
}


.accordion {
	// transition: height 1.5s;
	max-height: auto;
	&__item {
		display: flex;
		margin: 13px 0px 0px 0px;
		border-top: 1px solid #000;
		padding: 25px 0;
		overflow: hidden;
		position: relative;
		max-height: 71px;
		transition: max-height 0.3s ease-in;
	
		& > .accordion-arrow {
			display: block;
			position: absolute;
			right: 0px;
			bottom: 14px;
		}
		& > .accordion-arrow.active {
			position: absolute;
			transform: rotate(180deg);
		}
		
		& > .title {
			min-width: 300px;
			font-weight: 600;
			font-size: 18px;
		}
		& > .content {
			// visibility: hidden;
			position: relative;
			font-size: $fontSize_par;
			& > p {
				padding: 0px 71px 0px 0px;
			
				// &:not(:last-child){
				// 	margin: 0px 0px 30px 0px;
				// }
			}

			
		}

		
	}
}


