// Переменные
$fontFamily:Montserrat;
$fontSize_par: 18px;
$fontSize_menu: 15px;
$font_par_collor: #000;
$font_text_color_3: #D4D4D4;
$font_text_color_2: #00201F;
// Переменные

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}

html,
body {
	height: 100%;
	line-height: 1.25em;
	background: #FFFEFC;
	font-family: $fontFamily;
	font-size: $fontSize_par;
	color: $font_par_collor;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: inherit;
	font-size: inherit;
	margin: 0;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column; 
}

.container{
	max-width: 1171px;
	margin: 0 auto;
	padding: 0 15px;
	@media (max-width:1400px){
		max-width: 1171px;
		
	}
	@media (max-width:1200px){
		max-width: 970px;
		
	}
	@media (max-width:992px){
		max-width: 720px; //720
	}
	@media (max-width:768px){
		max-width: 540px;
	}
	@media (max-width:540px){
		width: 97%;
	}
}


main {
	flex: 1 1 auto;
}

.btn {
	display: flex;
	width: 236px;
	height: 236px;
	border-radius: 150px;
	justify-content: center;
	align-items: center;
	background: linear-gradient(210.55deg, #AEA8A8 31.43%, rgba(115, 165, 165, 0.96) 102.78%);
	box-shadow: 0px 11px 12px rgba(0, 32, 31, 0.13);
	&:hover {
		background: linear-gradient(210.55deg, #AEA8A8 31.43%, rgba(174, 168, 168, 0.96) 102.78%);
	}
	&:active {
		background: linear-gradient(210.55deg, #73A5A5 31.43%, rgba(115, 165, 165, 0.96) 102.78%);
	}
	& > span {
		color: #fff;
		// position: relative;
		font-weight: 700;
		top:45%;
		left:0;
	};
	@media (max-width:1400px){
		// height: 100%;
		// top: -1px;
	}
	@media (max-width:1200px){
		// height: 125%;
		// left: -383px;
		// top: -63px;
	}
	@media (max-width:992px){
		// position: relative;
		// height: 110%;
		// left: -619px;
		// top: -63px;
	}
	@media (max-width:768px){
		width: 212px;
		height: 212px;
	}
	@media (max-width:576px){
		// min-width: 88%;
	}
}
.section_title {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
	color: #405858;
	margin: 0px 0px 17px 0px;
}

.subtitle {
	margin: 0px 0px 56px 0px;
}

footer {
}